.page-container {
    position: relative;
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }
  
  .content-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
    flex-wrap: wrap;
  }
  
  .alphabet-filter,
  .search-filter {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .alphabet-filter button {
    margin-right: 2px;
    display: inline;
    background-color: white;
    color:black;
    font-weight: bold;
    width:50px;
  }

  .alphabet-filter button:hover{
    background-color: brown;
    color: white;
  }
  
  input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
    width: 250px;
  }
  
  .all-books {
    flex: 1;
  }
  
  .book-details {
    flex: 1;
    margin-left: 10%;
    margin-top: 0.5%;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .alphabet-filter h2 {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  .book-details-container {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10%;
  }
  
  .book-details-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .book-details-container p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* Adjust the positioning of the buttons */
  .edit-btn {
    margin-left: auto;
    margin-right: 5px;
  }
  
  /* edit and delete button */
  .edit-btn,
  .delete-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-btn {
    background-color: #408ee2;
    color: #fff;
  }
  
  .delete-btn {
    background-color: #f6828d;
    color: #fff;
  }
  
  /* Hover effects */
  .edit-btn:hover,
  .delete-btn:hover {
    opacity: 0.5;
  }
  