.checkinout-container {
  margin: 20px auto;
  width: 80%;
  background-color: #f6ece3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom:100px;
}

.container-top-img {
  display: flex;
  align-items: center;
}

.checkinout-image {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add space between image and text */
  margin-bottom: 5px;
  margin-left:10px;
}

.container-top-img h3 {
  font-style: italic; /* Make the text italic */
}

.checkinout-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.checkinout-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.checkinout-select {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkinout-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #836549;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkinout-button:hover {
  background-color: #3e362e;
}

.checkinout-message {
  margin-top: 10px;
  color: #008000;
  font-weight: bold;
}
