/* Center content vertically and horizontally */
.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg?t=st=1713833541~exp=1713837141~hmac=5a2b2523839e4a83f92672ff22a5807351c0e3f3c178c5f2196724a1cd2fd665&w=2000');
  background-size: cover;
  background-position: center;
  margin-bottom:100px;
}

/* Style the dashboard card */
.dashboard-card {
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
}

/* Header style */
h2 {
  margin-top: 0;
}

/* Paragraph style */
p {
  margin-bottom: 0;
}

.container {
  width:100%;
  height:100vh;
}

/* Login button container */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login button */
.btn {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for login button */
.btn:hover {
  background-color: #0056b3;
}

/* Logout button */
.btn.btn-danger.btn-block {
  color: #007bff;
  background-color: white;
  width: auto;
  height: 20%;
  border-radius: none;
}
