.register-form {
    max-width: 400px; /* Set maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding around the form */
  }
  
  .register-form h2 {
    font-size: 24px; /* Increase font size */
    margin-bottom: 25px; /* Add margin below the heading */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add spacing between letters */
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center align the heading */
  }
  
  .register-form input {
    width: 100%; /* Make input fields fill the width of their container */
    margin-bottom: 15px; /* Add margin between input fields */
    padding: 10px; /* Add padding to input fields */
    border: 1px solid #ccc; /* Add border to input fields */
    border-radius: 4px; /* Add border radius to input fields */
  }
  
  .register-form button {
    width: 50%; /* Make button fill the width of the container */
    padding: 10px; /* Add padding to button */
    background-color: #007bff; /* Set background color for button */
    color: #fff; /* Set text color for button */
    border: none; /* Remove border */
    border-radius: 4px; /* Add border radius to button */
    cursor: pointer; /* Set cursor to pointer */
    transition: background-color 0.3s; /* Add transition for hover effect */
    margin: auto;
  }
  
  .register-form button:hover {
    background-color: #0056b3; /* Darken background color on hover */
  }
  
  .register-form p {
    margin-top: 10px; /* Add margin above error message */
    color: red; /* Set text color for error message */
    text-align: center; /* Center align the error message */
  }