.reserve-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    background: linear-gradient(135deg, #f7f2e7, #e9cbb0, #a77e51); /* Gradient background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.reserve-container h2 {
    text-align: center;
    color: #333; /* Text color */
}

.reserve-description {
    text-align: center;
    margin-bottom: 20px;
    color: #666; /* Text color */
}

.reserve-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.reserve-button {
    width: 100%;
    padding: 10px;
    background-color: #6b96c4; /* Button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.reserve-button:hover {
    background-color: #135cab; /* Darker button color on hover */
}

.reserve-message {
    text-align: center;
    margin-top: 10px;
    color: #d9534f; /* Error message color */
}
